/*
    CSS geral
*/

.login-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container form {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.login-container form input {
  margin-top: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 48px;
  padding: 0 20px;
  font-size: 16px;
  color: #666;
}

.login-container form input ::placeholder {
  color: #999;
}

.login-container form button {
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  background: #3483fa;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.login-container input {
  font-size: 16px;
}

/*
    CSS dos produtos
*/

.product-container {
  max-width: 980px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.product-container .title {
  white-space: nowrap;
  overflow: hidden;
}
.product-container .description {
  width: 223px;
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-container ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin-top: 50px;
}
.product-container ul li {
  display: flex;
  flex-direction: column;
}
.product-container ul img {
  max-width: 100%;
}
.product-container .empty {
  font-size: 32px;
  color: #999999;
  font-weight: bold;
}
.product-flexbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-items: center;
}
.product-flexbox button {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
  font-size: 16px;
  background: #3483fa;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.product-flexbox input {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 300px;
  display: flex;
  margin-top: 10px;
  border: 0;
  border-radius: 4px;
  height: 48px;
}
